/* * {
    border: 1px solid red;
} */

body {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;

    font-size: 20px;
}

[href*="mailto"] {
    text-decoration: none;
}

p,
a [class*="header"],
[class*="button"],
[href*="mailto"],
.history-title,
.main-menu-nav-title,
.footer-working-hours-title,
.footer-contacts-title {
    font-family: 'Josefin Sans', 'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 400;

    line-height: 150%;
}

.banner__title,
h2,
h3,
h4 {
    font-family: 'Cormorant Infant', serif;
    font-weight: 400;

    line-height: 140%;
}

/*шапка*/
.header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

    height: 320px;

    font-family: 'Josefin Sans', 'Open Sans', sans-serif;

    background-color: #292E36;
}

.header__button {
    width: 300px;
    height: 75px;

    text-align: center;

    border: 3px solid #E1B168;
}

.header__button_phone {
    grid-area: 2/1/3/2;

    background-color: #292E36;
    color: white;
}

.header__button_reservation {
    grid-area: 2/3/3/4;

    background-color: #E1B168;
    color: #292E36;
}

.header__logo {
    grid-area: 1/2/4/3;
}

/*меню навигации*/
.header-menu {
    display: grid;
    grid-template-columns: repeat(6, 10%) 1fr 4% 4% 4% 4% 4%;
    justify-items: center;
    align-items: center;

    height: 80px;

    font-family: 'Josefin Sans', 'Open Sans', sans-serif;

    background-color: #292E36;
    color: white;
}

.header-menu-about-us {
    grid-area: 1/1/2/2;
}

.header-menu-our-menu {
    grid-area: 1/2/2/3;
}

.header-menu-pages {
    grid-area: 1/3/2/4;
}

.header-menu-contact {
    grid-area: 1/4/2/5;
}

.header-menu-blog {
    grid-area: 1/5/2/6;
}

.header-menu-instagram {
    grid-area: 1/8/2/9;
}

.header-menu-facebook {
    grid-area: 1/9/2/10;
}

.header-menu-twitter {
    grid-area: 1/10/2/11;
}

.header-menu-pinterest {
    grid-area: 1/11/2/12;
}

a[class*="header"] {
    text-decoration: none;
    color: white;
}

a[class*="header"]:hover {
    color: #E1B168;
}

/*баннер*/
.banner {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: 3fr 1fr 2fr;
    justify-items: start;

    width: 100%;
    height: 810px;

    background-color: #292E36;
    color: white;
}

.banner__title {
    grid-area: 1/1/2/2;
    justify-self: start;
    align-self: end;

    margin-left: 3%;

    font-size: 5em;
}

.banner__button_view-menu {
    grid-area: 3/1/4/2;
    justify-self: start;
    align-self: start;

    width: 230px;
    height: 75px;
    margin-left: 3%;

    background-color: #292E36;
    border: 3px solid #E1B168;
    color: #E1B168;
}

.banner__text {
    grid-area: 2/1/3/2;
    justify-self: start;
    align-self: start;
    margin-left: 3%;
}

.banner__image {
    grid-area: 1/2/4/3;
    justify-self: center;
    align-self: center;

    border: 3px solid #E1B168;
    border-top-left-radius: 297px;
    border-top-right-radius: 297px;
}

/*раздел с адресом, часами работы и резервированием*/
.banner__menu {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr 3fr;
    grid-template-rows: 0.5fr 1fr;
    justify-items: center;
    align-items: start;

    height: 240px;

    background-color: #FFF8F5;
    color: #292E36;
}

.banner__menu_location,
.banner__menu_open-hours,
.banner__menu_reservation {
    align-self: start;
    justify-self: start;
}

.banner__menu_text,
.banner__menu_title,
.banner__menu_mailto-link {
    margin-top: 0%;
    margin-bottom: 0%;
}

.banner__menu_location-logo {
    grid-area: 2/1/2/2;
}

.banner__menu_location {
    grid-area: 2/2/2/3;
}

.banner__menu_open-hours-logo {
    grid-area: 2/3/2/4;
}

.banner__menu_open-hours {
    grid-area: 2/4/2/5;
}

.banner__menu_reservation-logo {
    grid-area: 2/5/2/6;
}

.banner__menu_reservation {
    grid-area: 2/6/2/7;
}

[href*="restaurantate"] {
    color: #292E36;
}

.banner__menu_title {
    font-size: 1.8em;

    color: #292E36;
}

.banner__menu_text {
    color: #292E36;
}

/*история ресторана*/
.history {
    display: grid;
    grid-template-columns: 3fr 1.5fr 1.5fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: start;
    align-items: center;

    height: 730px;

    color: #292E36;

    background-color: #FFF8F5;
}

.history__title {
    grid-area: 1/2/2/4;
    justify-self: end;
    align-self: start;
    margin-right: 1em;

    border-top: 3px solid #E1B168;
    border-bottom: 3px solid #E1B168;
}

.history__image {
    grid-column: 1/2;
    grid-row: 1/span 3;
    margin-left: 2em;
    margin-right: 2em;
}

.history__text,
.history__2018,
.history__2022,
.history-signature {
    text-align: left;
}

.history__text {
    grid-area: 1/2/2/4;
}

.history__2018 {
    grid-area: 2/2/3/3;
}

.history__2022 {
    grid-area: 2/3/3/4;
}

.history__signature {
    grid-area: 3/2/4/3;
}

.history__text_title {
    font-size: 2em;
}

/*меню ресторана*/
.main-menu {
    display: grid;
    grid-template-columns:
        [main-menu-start] 36% [main-menu-end] 4% [dishimg-start] 7% [dishimg-end dishtext-start] 30% [dishtext-end] 15% [price-start] 5% [price-end] 3% [full-end];
    grid-template-rows: 0.5fr 1fr 1fr 0.5fr 1fr 1fr 0.5fr 1fr;

    height: 1500px;
    margin: 140px 40px;

    color: #292E36;

    background-color: white;
}

.main-menu-nav-title {
    grid-area: 1/1/2/2;
    justify-self: start;
    align-self: start;

    border-top: 3px solid #E1B168;
    border-bottom: 3px solid #E1B168;
}

.main-menu-title {
    grid-area: 1/main-menu-start/2/main-menu-end;
    align-self: end;
}

.main-menu-text {
    grid-area: 2/main-menu-start/3/main-menu-end;
}

.main-menu-image {
    grid-area: 3/main-menu-start/9/main-menu-end;
    align-items: center;
}

.main-menu-button {
    grid-area: 6/main-menu-start/7/main-menu-end;
    justify-items: start;
    align-items: center;

    width: 230px;
    height: 75px;

    background-color: white;
    border: 3px solid #E1B168;
    color: #E1B168;
}

h4 {
    font-size: 1.5em;

    color: #292E36;
}

div.main-menu-starters-scallops-text h4,
div.main-menu-starters-scallops-text p,
div.main-menu-starters-roll-text h4,
div.main-menu-starters-roll-text p,
div.main-menu-main-dish-salmon-text h4,
div.main-menu-main-dish-salmon-text p,
div.main-menu-main-dish-roastbeef-text h4,
div.main-menu-main-dish-roastbeef-text p,
div.main-menu-dessert-pie-text h4,
div.main-menu-dessert-pie-text p {
    margin-top: 0%;
    margin-bottom: 0%;
}

/*закуски*/
.main-menu-starters {
    grid-area: 1/dishimg-start/2/dishtext-end;
}

.main-menu-starters-scallops-img {
    grid-area: 2/dishimg-start/3/dishtext-end;
}

.main-menu-starters-scallops-text {
    grid-area: 2/dishtext-start/3/dishtext-end;
}

.main-menu-starters-scallops-price {
    grid-area: 2/price-start/3/price-end;
}

.main-menu-starters-roll-img {
    grid-area: 3/dishimg-start/4/dishtext-end;
}

.main-menu-starters-roll-text {
    grid-area: 3/dishtext-start/4/dishtext-end;
}

.main-menu-starters-roll-price {
    grid-area: 3/price-start/4/price-end;
}

/*главные блюда*/
.main-menu-main-dish {
    grid-area: 4/dishimg-start/5/dishtext-end;
}

.main-menu-main-dish-salmon-img {
    grid-area: 5/dishimg-start/6/dishtext-end;
}

.main-menu-main-dish-salmon-text {
    grid-area: 5/dishtext-start/6/dishtext-end;
}

.main-menu-main-dish-salmon-price {
    grid-area: 5/price-start/6/price-end;
}

.main-menu-main-dish-roastbeef-img {
    grid-area: 6/dishimg-start/7/dishtext-end;
}

.main-menu-main-dish-roastbeef-text {
    grid-area: 6/dishtext-start/7/dishtext-end;
}

.main-menu-main-dish-roastbeef-price {
    grid-area: 6/price-start/7/price-end;
}

/*десерты*/
.main-menu-dessert {
    grid-area: 7/dishimg-start/8/dishtext-end;
}

.main-menu-dessert-pie-img {
    grid-area: 8/dishimg-start/9/dishtext-end;
}

.main-menu-dessert-pie-text {
    grid-area: 8/dishtext-start/9/dishtext-end;
}

.main-menu-dessert-pie-price {
    grid-area: 8/price-start/9/price-end;
}

/*подвал*/
.footer {
    display: grid;
    grid-template-columns: 25% 30% 20% 25%;
    grid-template-rows: 4fr 2fr 1fr 2fr;

    height: 1250px;

    background-color: #292E36;
    color: white;
}

.footer-image {
    grid-area: 1/1/2/5;
    justify-self: stretch;

    height: 600px;
}

.footer-logo {
    grid-area: 2/2/3/4;
    justify-self: center;
    align-self: center;
    margin-top: 1em;
}

.footer-contacts-title {
    grid-area: 3/1/4/2;
    justify-self: start;
    align-self: end;
    margin-left: 1em;

    border-top: 3px solid #E1B168;
    border-bottom: 3px solid #E1B168;
}

.footer-contacts {
    grid-area: 4/1/5/2;
    justify-self: left;
    align-self: center;
    margin-left: 1em;
}

[href*="josefin"] {
    color: white;
}

.footer-subscribe-text {
    grid-area: 3/2/4/4;
    justify-self: center;
    align-self: center;
    text-align: center;
    line-height: 150%;
}

.footer-working-hours-title {
    grid-area: 3/4/4/5;
    justify-self: end;
    align-self: end;
    margin-right: 1em;

    border-top: 3px solid #E1B168;
    border-bottom: 3px solid #E1B168;
}

.footer-working-hours {
    grid-area: 4/4/5/5;
    justify-self: right;
    align-self: center;
    margin-right: 1em;
    text-align: end;
}

.footer-subscribe-form {
    grid-area: 4/2/5/3;
    justify-self: end;

    width: 455px;
    height: 70px;

    border: 3px solid #E1B168;
    background-color: #292E36;
    color: white;
}

[placeholder] {
    width: 448px;
    height: 65px;

    font-family: 'Josefin Sans', 'Open Sans', sans-serif;
    font-size: 1.1em;
    text-align: center;

    border: 0em;
    background-color: #292E36;
    color: white;
}

.footer-subscribe-button {
    grid-area: 4/3/5/4;
    justify-self: start;

    width: 220px;
    height: 76px;

    background-color: #E1B168;
    border: 3px solid #E1B168;

    color: #292E36;
}